html,
body{
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
}

nav.col{
    z-index: 100000000;
    position: fixed;
    height: 80px;
    margin: 0;
    padding: 0;
    top: 0;
    border-bottom: 1px solid #e0e0e0;
    background: white;
}


nav .nav-content{
    position: relative;
    height: 100%;
    font-size: 20px;
}

nav .sub-nav{
    position: relative;
    height: 100%;
}

nav .sub-nav .input-group{
    top:25%;
}

nav .nav-content .logo{
    position: relative;
    padding: 10px;
    height: 100%;
}

.main-body{
    position: relative;
    height: 100%;
    margin: 0;
}

.content-margin{
    margin: 80px 0 0 0;
}

.filter-body{
    overflow: hidden scroll;
}

.filter-body .btn-group{
    margin: auto;
    width: 120px;
    display: flex;
}

.secondary-body{
    max-height: calc(100% - 85px);
}

#listblock{
    height: 100%;
    overflow: hidden scroll;
}

#mapblock{
    margin: 0 0 10px 0;
}

#mapid{
    position: relative;
    width: 100%;
    height: 100%;
}

.slide-img{
    position: relative;
    width: 100%;
}

.no-marg{
    margin: 0;
    padding: 0;
}

.card{
    border: none;
}

@media (max-width: 991px) {
    #listblock{
        overflow: inherit;
    }

    .filter-body{
        position: fixed;
        z-index: 1000000000;
        background: white;
        box-shadow: 0px 9px 8px #d5d5d5;
        padding: 5px 15px 15px;
    }

    nav .sub-nav.responsive-button-menu{
        position: absolute;
        right: 50px;
    }

    .responsive-button-menu button{
        top: 25%;
        position: relative;
    }
}